.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .body {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 1.5rem;
}

.modal .closeBtn {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    float: right;
}

.modal .body .content .title {
    font-size: 1rem;
    font-weight: 600;
}
