.layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.home {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 540px;
    justify-content: center;
    margin: 1rem auto;
}

.home .input-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home .input-section .submit-button {
    margin-top: 1rem;
}

.home .folders-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.home .folders-section .folder-card {
    display: flex;
    justify-content: space-between;
}

.home .folders-section .folder-card .folder {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home .folders-section .folder-card .folder-delete-btn {
    display: none;
}

.home .folders-section .folder-card:hover .folder-delete-btn {
    display: block;
    transition: all 0.3s ease-out;
}

.confirm-modal .confirm-modal-btns {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}
